// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.users_show_container{
  padding:40px 20px;
  text-align:center;
  margin:0 auto;
  width:40%;
  border-color: red;
}

p{
  font-size:15px;
}

#error_explanation{
 width:90%;
 text-align:center;
 margin:0 auto;
}
