.users_show_container{
  padding:0px 20px;
  text-align:center;
  margin:0 auto;
  height:500px;
  width:40%;
  flex:1;
}

p{
  font-size:15px;
}

#error_explanation{
 width:90%;
 text-align:center;
 margin:0 auto;
}
