.users_show_container{
  padding:40px 20px;
  text-align:center;
  margin:0 auto;
  width:40%;
  border-color: red;
}

p{
  font-size:15px;
}

#error_explanation{
 width:90%;
 text-align:center;
 margin:0 auto;
}
